body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;

}

h2 {
    background-color: #b2a9a9;
    border-left: 10px solid goldenrod;
    padding-left: 5px;
    color: #343945;
}

.contact-img {
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.date {
    background-color: gold;
    display: inline-block;
    padding: 4px;
    border-radius: 10px;
    color: black;
}

/*nav*/
header {
    background-color: rgba(178, 169, 169, 0.44);
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}
header nav ul a {
    padding: 15px;
    color: black;
}
header nav ul a:hover {
    background-color: gold;
    text-decoration: none;
}

/*main*/
main {
    display: flex;
    flex-direction: row;
}

/*left-side*/
.left-side {
    flex-grow: 1;
    background-color: rgba(37, 38, 47, 0.73);
    color: #fff;
}

.my-avatar {
    width: 100%;
    height: min-content;
}

/*contacts*/
.contact a {
    color: #fff;
}

.contact a:hover {
    text-decoration: none;
}

.contacts ul {
    list-style: none;
    padding-left: 10px;
}

.contact-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 21px;
}

.contact-logo-map {
    background-image: url(img/map.svg)
}
.contact-logo-phone {
    background-image: url(img/phone.svg)
}

.contact-logo-email {
    background-image: url(img/email.svg)
}

.contact-logo-instagram {
    background-image: url(img/instagram.svg)
}

.contact-logo-telegram {
    background-image: url(img/telegram.svg)
}

.contact-logo-github {
    background-image: url(img/github.svg)
}

/*education*/
.education-block {
    padding-left: 10px;
}

/*right-side*/
.right-side {
    flex-grow: 5;
}


/*main title*/
.page-title {
    margin: 125px 80px 125px 60px;
    padding: 0;
}

.main-title {
    font-size: 50px;
}

.page-title p {
    font-size: 20px;
}

/*about me*/
.about-me p {
    margin: 0 50px;
}

/*skills*/
.skills ul {
    margin: 0 50px;
    padding-left: 15px;
}

/*code example*/
.hljs {
    margin: 0 50px;
    overflow-x: scroll;
    display: flex;
    width: 50vw;
}

/*my projects*/
.my-projects {

}

/*languages*/
.languages ul {
    margin: 0 50px;
    padding-left: 15px;
}

/*footer*/
footer {
    background-color: rgba(141, 141, 141, 0.29);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer .img-rs_school_js {
    width: 90px;
}

.footer-github {
    display: flex;
    flex-direction: row;
}

.footer-github-logo {
    background-image: url(img/github.svg);
}